In [123]:
import pandas as pd

In [124]:
df18_base_lgd_ead = pd.read_csv('df18_base_lgd_ead.csv',index_col=0)

In [125]:
df18_base_lgd_ead.head()

   result_base_lgd       ead
0         0.000000  118517.0
1         0.162566       0.0
2         0.000000  332172.0
3         0.000000  271306.0
4         0.000000  434084.0

In [126]:
df18_severe_lgd_ead = pd.read_csv('df18_severe_lgd_ead.csv',index_col=0)

In [127]:
df18_severe_lgd_ead.head()

   result_severe_lgd       ead
0           0.000000  118517.0
1           0.109946       0.0
2           0.000000  332172.0
3           0.000000  271306.0
4           0.000000  434084.0

In [128]:
df18_pd_base = pd.read_csv('default_base_new.csv',index_col=0)

In [129]:
df18_pd_base.head()

    Default
0  0.004960
1  0.239865
2  0.048649
3  0.074442
4  0.231273

In [130]:
df18_pd_severe = pd.read_csv('default_severe_new.csv',index_col=0)

In [131]:
df18_pd_severe.head()

    Default
0  0.005281
1  0.262562
2  0.168552
3  0.136527
4  0.362918

In [132]:
df18_base_lgd_ead['pd'] = df18_pd_base['Default']

In [133]:
df18_severe_lgd_ead['pd'] = df18_pd_severe['Default']

In [134]:
df18_base = df18_base_lgd_ead

In [135]:
df18_severe = df18_severe_lgd_ead

In [136]:
df18_base.head()

   result_base_lgd       ead        pd
0         0.000000  118517.0  0.004960
1         0.162566       0.0  0.239865
2         0.000000  332172.0  0.048649
3         0.000000  271306.0  0.074442
4         0.000000  434084.0  0.231273

In [137]:
df18_severe.head()

   result_severe_lgd       ead        pd
0           0.000000  118517.0  0.005281
1           0.109946       0.0  0.262562
2           0.000000  332172.0  0.168552
3           0.000000  271306.0  0.136527
4           0.000000  434084.0  0.362918

In [138]:
df18_base['Expected_Loss'] = df18_base['result_base_lgd']*df18_base['ead']*df18_base['pd']

In [139]:
df18_severe['Expected_Loss'] = df18_severe['result_severe_lgd']*df18_severe['ead']*df18_severe['pd']

In [140]:
df18_base.head()

   result_base_lgd       ead        pd  Expected_Loss
0         0.000000  118517.0  0.004960            0.0
1         0.162566       0.0  0.239865            0.0
2         0.000000  332172.0  0.048649            0.0
3         0.000000  271306.0  0.074442            0.0
4         0.000000  434084.0  0.231273            0.0

In [141]:
df18_base.describe()

       result_base_lgd            ead             pd  Expected_Loss
count    145608.000000  145604.000000  145583.000000  145579.000000
mean          0.021177  194207.324050       0.145365     189.509103
std           0.115604  136014.804787       0.142162    1219.608114
min           0.000000       0.000000       0.000008       0.000000
25%           0.000000   99805.500000       0.033698       0.000000
50%           0.000000  184730.500000       0.094332       0.000000
75%           0.000000  281388.250000       0.221680       0.000000
max           5.558586  962497.000000       0.858486   44713.713032

In [142]:
df18_base['Expected_Loss'].sum()

27588545.771098986

In [143]:
df18_severe.head()

   result_severe_lgd       ead        pd  Expected_Loss
0           0.000000  118517.0  0.005281            0.0
1           0.109946       0.0  0.262562            0.0
2           0.000000  332172.0  0.168552            0.0
3           0.000000  271306.0  0.136527            0.0
4           0.000000  434084.0  0.362918            0.0

In [144]:
df18_severe.describe()

       result_severe_lgd            ead             pd  Expected_Loss
count      145608.000000  145604.000000  145583.000000  145579.000000
mean            0.016312  194207.324050       0.250382     236.390614
std             0.102622  136014.804787       0.211350    1671.351970
min             0.000000       0.000000       0.000024       0.000000
25%             0.000000   99805.500000       0.064859       0.000000
50%             0.000000  184730.500000       0.195293       0.000000
75%             0.000000  281388.250000       0.399694       0.000000
max             5.142012  962497.000000       0.889416   49932.886542

In [145]:
df18_severe['Expected_Loss'].sum()

34413509.14314853